.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 105px 0;
	position: relative;
	z-index: 999;
	transition: 0.4s ease;

	.logo {
		color: #ffffff;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1px;
	}

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 48px;
		transition: 0.4s ease;

		li {
			position: relative;
			cursor: pointer;

			a {
				color: #fff;
				text-decoration: none;
				font-size: 18px;
				font-weight: 600;
				transition: color 0.3s ease;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -6px;
				width: 0;
				height: 3px;
				background-color: #4caf50;
				transition: width 0.3s ease;
			}

			&:hover::after {
				width: 100%;
			}

			&.active-blink::after {
				width: 100%;
			}

			&.active-blink a {
				color: #4caf50 !important;
				animation: blink 1s ease;
			}
		}
	}

	.desktop-btn {
		display: block;
	}

	.mobile-btn {
		display: none;
	}

	.hamburger {
		display: none;
		flex-direction: column;
		gap: 6px;
		cursor: pointer;
		transition: 0.3s;

		span {
			width: 28px;
			height: 3px;
			background: #fff;
			transition: 0.3s;
		}

		&.active span:nth-child(1) {
			transform: rotate(765deg) translate(5px, 5px);
		}
		&.active span:nth-child(2) {
			opacity: 0;
		}
		&.active span:nth-child(3) {
			transform: rotate(-765deg) translate(5px, -5px);
		}
	}
}

@keyframes blink {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 0;
	}
}

@media (max-width: 1020px) {
	.navbar {
		padding: 25px 40px;

		ul {
			gap: 34px;

			a {
				font-size: 17px;
			}
		}

		.logo {
			font-size: 26px;
		}
	}
}

@media (max-width: 900px) {
	.navbar {
		.hamburger {
			display: flex;
		}

		.desktop-btn {
			display: none;
		}

		ul {
			position: absolute;
			top: 100%;
			right: 0;
			width: 100%;
			flex-direction: column;
			align-items: center;
			padding: 35px 0;
			gap: 25px;

			background: rgba(0, 0, 0, 0.6);
			backdrop-filter: blur(4px);

			opacity: 0;
			transform: translateY(-20px);
			pointer-events: none;
		}

		&.open ul {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}

		.mobile-btn {
			display: block;
			margin-top: 15px;
		}
	}
}

@media (max-width: 480px) {
	.navbar {
		padding: 20px 25px;

		.logo {
			font-size: 22px;
		}

		ul a {
			font-size: 15px !important;
		}
	}
}
