.header {
  width: 100%;
  height: auto;
  background-image: url(../../assets/img/Rectangle\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.header .header-content-box {
  display: flex;
  gap: 260px;
  position: relative;
  padding: 120px 100px;
  min-height: 600px;
}
.header .header-content-box .header-content {
  text-align: left;
}
.header .header-content-box .header-content h1 {
  font-family: Avenir;
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 23px;
}
.header .header-content-box .header-content p {
  font-size: 18px;
  line-height: 130%;
}
.header .header-content-box .header-content .header-button-content {
  margin: 50px 0;
  display: flex;
  gap: 21px;
}
.header .header-content-box .header-content .header-button-content button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.4s ease;
}
.header .header-content-box .header-content .header-button-content button:hover {
  background-color: white;
  color: black;
}
.header .header-content-box .header-content .header-input-content {
  width: 490px;
  height: 48px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50px;
}
.header .header-content-box .header-content .header-input-content i {
  margin: 0 14px;
  color: black;
}
.header .header-content-box .header-content .header-input-content input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: black;
}
.header .header-content-box .header-content .header-input-content button {
  height: 48px;
  border-radius: 0 50px 50px 0;
}
.header .header-content-box .header-image-content .header-image {
  position: absolute;
  bottom: 0;
  right: 75px;
  max-width: 480px;
}

@media (max-width: 1220px) {
  .header .header-content-box {
    gap: 120px;
    padding: 100px 60px;
  }
  .header .header-content-box .header-content h1 {
    font-size: 42px;
  }
}
@media (max-width: 900px) {
  .header .header-content-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 120px 40px;
  }
  .header .header-content-box .header-content {
    text-align: center;
    margin-left: 0;
  }
  .header .header-content-box .header-content .header-button-content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .header .header-content-box .header-content .header-input-content {
    width: 100%;
    justify-content: center;
  }
  .header .header-content-box .header-content .header-input-content button {
    padding: 0 25px;
  }
  .header .header-content-box .header-image-content .header-image {
    position: static;
    width: 65%;
  }
}
@media (max-width: 600px) {
  .header .header-content-box {
    padding: 80px 25px;
  }
  .header .header-content-box .header-content h1 {
    font-size: 32px;
  }
  .header .header-content-box .header-content p {
    font-size: 16px;
  }
  .header .header-content-box .header-input-content {
    height: 45px;
  }
  .header .header-content-box .header-input-content input {
    font-size: 14px;
  }
  .header .header-content-box .header-input-content button {
    font-size: 14px;
    padding: 0 20px;
  }
}
@media (max-width: 350px) {
  .header .header-content-box .header-content h1 {
    font-size: 26px;
    line-height: 120%;
  }
  .header .header-content-box .header-button-content {
    gap: 10px;
  }
  .header .header-content-box .header-button-content button {
    padding: 8px 20px;
    font-size: 14px;
  }
  .header .header-content-box .header-input-content {
    height: 40px;
  }
  .header .header-content-box .header-input-content input {
    font-size: 12px;
  }
  .header .header-content-box .header-input-content button {
    font-size: 12px;
    padding: 0 14px;
  }
  .header .header-content-box .header-image-content .header-image {
    width: 85%;
  }
}/*# sourceMappingURL=Header.css.map */