.header {
	width: 100%;
	height: auto;
	background-image: url(../../assets/img/Rectangle\ 1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;

	.header-content-box {
		display: flex;
		gap: 260px;
		position: relative;
		padding: 120px 100px;
		min-height: 600px;

		.header-content {
			text-align: left;

			h1 {
				font-family: Avenir;
				font-weight: 900;
				font-size: 48px;
				line-height: 110%;
				margin-bottom: 23px;
			}

			p {
				font-size: 18px;
				line-height: 130%;
			}

			.header-button-content {
				margin: 50px 0;
				display: flex;
				gap: 21px;

				button {
					background-color: transparent;
					border: 2px solid white;
					color: white;
					transition: all 0.4s ease;

					&:hover {
						background-color: white;
						color: black;
					}
				}
			}

			.header-input-content {
				width: 490px;
				height: 48px;
				display: flex;
				align-items: center;
				background: #fff;
				border-radius: 50px;

				i {
					margin: 0 14px;
					color: black;
				}

				input {
					flex: 1;
					border: none;
					outline: none;
					font-size: 16px;
					background: transparent;
					color: black;
				}

				button {
					height: 48px;
					border-radius: 0 50px 50px 0;
				}
			}
		}

		.header-image-content {
			.header-image {
				position: absolute;
				bottom: 0;
				right: 75px;
				max-width: 480px;
			}
		}
	}
}

@media (max-width: 1220px) {
	.header {
		.header-content-box {
			gap: 120px;
			padding: 100px 60px;

			.header-content h1 {
				font-size: 42px;
			}
		}
	}
}
@media (max-width: 900px) {
	.header {
		.header-content-box {
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 40px;
			padding: 120px 40px;

			.header-content {
				text-align: center;
				margin-left: 0;

				.header-button-content {
					justify-content: center;
					flex-wrap: wrap;
				}

				.header-input-content {
					width: 100%;
					justify-content: center;

					button {
						padding: 0 25px;
					}
				}
			}

			.header-image-content {
				.header-image {
					position: static;
					width: 65%;
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.header {
		.header-content-box {
			padding: 80px 25px;

			.header-content h1 {
				font-size: 32px;
			}

			.header-content p {
				font-size: 16px;
			}

			.header-input-content {
				height: 45px;

				input {
					font-size: 14px;
				}

				button {
					font-size: 14px;
					padding: 0 20px;
				}
			}
		}
	}
}
@media (max-width: 350px) {
	.header {
		.header-content-box {
			.header-content h1 {
				font-size: 26px;
				line-height: 120%;
			}

			.header-button-content {
				gap: 10px;

				button {
					padding: 8px 20px;
					font-size: 14px;
				}
			}

			.header-input-content {
				height: 40px;

				input {
					font-size: 12px;
				}

				button {
					font-size: 12px;
					padding: 0 14px;
				}
			}

			.header-image-content {
				.header-image {
					width: 85%;
				}
			}
		}
	}
}
